<!-- <div class=""> -->

  <div class="head_title">
    <i class="fa_color fa fa-code"></i>
    <h2 class="title-with-shadow">Certificados</h2>
  </div>
  <div class="card-carousel main_title">
    <div class="line mb-2"></div>

    <div class="card flip-card card_certificados mt-3" *ngFor="let item of data_cursos" style="height: 18rem;margin: 1rem 0;">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h6 class="card-title text-center mt-2" style="width: 100%;color: grey;">{{item.cursos}}</h6>
        <div class="" style="width: 100%;display: flex;justify-content: center;">
          <img src="{{item.img_curso}}" class="card-img-top img_certificados" alt="img_curso"
            >
            <div class="btn_eye btn-clickme display_off" >click</div>
          </div>
        </div>
        <div class="flip-card-back">
          <p class="m-3 mt-0" style="text-align: justify;">{{item.descripcion}}</p>
        </div>
      </div>
    </div>

  </div>

<!-- </div> -->
