<div class="card_mode" >
  <div class="percent">
    <svg>
      <circle cx="105" cy="105" r="60"></circle> <!-- Ajusta el valor de "r" a 90 -->
      <circle cx="105" cy="105" r="60" style="--percent: {{percentage}}"></circle>
    </svg>
    <div class="number">
      <img class="img rounded" src="{{imgurl}}" alt="">
      <h3 class="mt-1 fs-3"> {{percentage}}<span class="fs-6">%</span></h3>
    </div>
  </div>
  <div class="title">
    <h3 class="fs-4 font-weight-800">{{name}}</h3>
  </div>
</div>
