<div class="card_mode" >
  <div class="percent">
    <svg>
      <!-- r es el radio: implica el porcentaje del parametro stroke-dasharray  -->
      <circle cx="60" cy="60" r="40"></circle> <!-- Ajusta el valor de "r" a 90 -->
      <circle cx="60" cy="60" r="40" style="--percent: {{percentage}}"></circle>
    </svg>
    <div class="number">
      <img class="img rounded" src="{{imgurl}}" alt="">
      <h3 class=" fs-5"> {{percentage}}<span class="fs-6">%</span></h3>
    </div>
  </div>
  <!-- <div class="title"> -->
    <h3 class="fs-6" style="color: grey;">{{name}}</h3>
  <!-- </div> -->
</div>
