<div class="head_title">
  <i class="fa_color fa fa-solid fa-user"></i>
  <h2 class="title-with-shadow">About me</h2>
</div>
<div class="card-carousel main_title">
  <div class="line mb-2"></div>
</div>

<div class="card-body card_about_me_head" style="display: flex;">

  <div class="card-text p-2 about_me_head">
    <div class="card-text fs-6 box_shadow w-100 p-3">{{about_me}}</div>
  </div>

  <div class=" p-2 fs-6">
    <div>

      <div class="about_me_space" style="margin:.5rem 0;">
        <div class="about_me_space_div">
          <div class="about_me_space_data">Titles:</div>
        </div>
        <span class="about_me_space_span w-100">Philosophy teacher</span>
      </div>
      <div class="about_me_space" style="margin:.5rem 0;">
        <div class="about_me_space_div">
          <div class="about_me_space_data_empty"></div>
        </div>
        <span class="about_me_space_span w-100">Full Stack Developer Jr.</span>
      </div>
      <div class="about_me_space" style="margin:.5rem 0;">
        <div class="about_me_space_div">
          <div class="about_me_space_data_empty"></div>
        </div>
        <span class="about_me_space_span w-100">Data Scientist Jr.</span>
      </div>

      <div class="gradient-line"></div>

      <div class="about_me_space">
        <div class="about_me_space_div">
          <div class="about_me_space_data">Age:</div>
        </div>
        <span class="about_me_space_span w-100">{{edad}} </span>
      </div>

      <div class="gradient-line"></div>

      <div class="about_me_space">
        <div class="about_me_space_div">
          <div class="about_me_space_data">Addres:</div>
        </div> <span class="about_me_space_span w-100">{{city}} </span>
      </div>

      <div class="gradient-line"></div>

      <div class="about_me_space">
        <div class="about_me_space_div">
          <div class="about_me_space_data">Email:</div>
        </div>
        <span class="about_me_space_span w-100">{{email}} </span>
      </div>

    </div>
  </div>

</div>
