<div id="wrapper" class="wrapper" style="overflow: hidden !important;">
  <div class="about">
    <div class="container opened ">
      <div class="card_started">

        <div class="profile" *ngFor="let item of about" >
          <!-- <img src="https://i.imgur.com/A7w4qzX.png" alt="foto personal"> -->
          <img src="/assets/julio.gif" alt="foto personal">
          <!-- <img src="{{item.img}}" alt="foto personal"> -->

          <img class="name_banner" style="width: 280px;"
            src="https://readme-typing-svg.herokuapp.com?font=Time+New+Roman&color=f77136&size=120&center=true&center=true&vCenter=true&width=1000&height=160&duration=1800&lines=Hi,+I'm+Julio">

          <!-- <div class="title">{{item.nombre}} {{item.apellido}} </div> -->
          <div class="fs-2 m-1 fw-bold" translate="no">Data Scientist</div>

          <div class="subtitle-container m-3">
            <div *ngFor="let subtitle of subtitles; let i = index" class="subtitle" [class.active]="currentIndex === i">
              {{ subtitle }}
            </div>
          </div>

          <div class="social m-1">
            <a target="_blank" href="https://github.com/JulioLaz" style="font-size: 30px;"><span
                class="fab fa-github"></span></a>
            <a target="_blank" href="https://www.linkedin.com/in/julio-lazarte-developer/">
              <svg class="linkedin-logo" id='linkedin' x="0px" y="0px" width="28px" height="28px"
                viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196;" xml:space="preserve">
                <g>
                  <circle cx="56.098" cy="56.097" r="56.098" />
                  <g>
                    <path style="fill:#F1F2F2;"
                      d="M89.616,60.611v23.128H76.207V62.161c0-5.418-1.936-9.118-6.791-9.118    c-3.705,0-5.906,2.491-6.878,4.903c-0.353,0.862-0.444,2.059-0.444,3.268v22.524H48.684c0,0,0.18-36.546,0-40.329h13.411v5.715    c-0.027,0.045-0.065,0.089-0.089,0.132h0.089v-0.132c1.782-2.742,4.96-6.662,12.085-6.662    C83.002,42.462,89.616,48.226,89.616,60.611L89.616,60.611z M34.656,23.969c-4.587,0-7.588,3.011-7.588,6.967    c0,3.872,2.914,6.97,7.412,6.97h0.087c4.677,0,7.585-3.098,7.585-6.97C42.063,26.98,39.244,23.969,34.656,23.969L34.656,23.969z     M27.865,83.739H41.27V43.409H27.865V83.739z" />
                  </g>
                </g>
              </svg>
            </a>
            <a href="https://www.youtube.com/channel/UC0e27iTdQOx_cWnbppGaptA" target="_blank" style="font-size: 30px;">
              <span class="fab fa-youtube"></span>
              <!-- <img height="40px" src="https://user-images.githubusercontent.com/47686437/168548113-b3cd4206-3281-445b-b7c6-bc0a3251293d.png" /> -->
            </a>
          </div>

          <div class="qr">
            <div class="">
              <img style="width: 80px;border-radius: 5px;margin: 0;" src="https://i.imgur.com/SsXk3TF.png"
                alt="QR cv web">
              <p style="color: dimgray;">my email</p>
            </div>
            <div>
              <!-- <a href="https://drive.google.com/file/d/1LT56VohRMZUIAy6vdsZsSuohk1bQiE0I/view?usp=sharing" target="_blank" style="font-size: 30px;"> -->
              <a href="https://www.canva.com/design/DAGAi2U6CTU/i691_HhOWLMZKr9dhr_BnQ/view?utm_content=DAGAi2U6CTU&utm_campaign=designshare&utm_medium=link&utm_source=editor"
                target="_blank" style="font-size: 30px;">
                <img style="width: 80px;border-radius: 5px;margin: 0;" src="https://i.imgur.com/YwjASyi.png"
                  alt="QR cv web">
                <!-- <img style="width: 80px;border-radius: 5px;margin: 0;" src="https://i.imgur.com/6P4bPyk.png" alt="QR cv web"> -->
              </a>
              <!-- <p style="color: dimgray;font-size: 8;">curriculum vitae</p> -->
              <p style="color: dimgray;font-size: 6;padding-bottom: 5px;">CV click/scan</p>
            </div>
          </div>

          <!-- <div class="counter">
            <p>{{ count }}</p>
          </div> -->

          <div class="caru_active frases" style="padding: 5px;">
            <div class="" *ngFor="let data of frase">
              <div class="" *ngIf="data.id === count" @fadeIn>
                <p class="fs-6">{{data.frases}}</p>
                <p class="pt-1 fs-6" style="text-align: end;">Autor: <i>"{{data.autor}}"</i></p>
              </div>
            </div>
          </div>


          <!-- <div class="m-3">
            <button class="btn btn_cv fw-bold" (click)="downloadPDF()"><i class="fa-solid fa-file-lines fs-5"></i> CV
              PDF</button>
          </div> -->

          <!-- /////////////////////////////////////////////////// -->

          <!-- /////////////////////////////////////////////////// -->


        </div>
      </div>
    </div>

    <div class="display_none">
      <app-carousel class="caru"></app-carousel>
    </div>

  </div>

  <div class="container caru_active">
    <app-about-me></app-about-me>
  </div>

  <div class="container caru_active">
    <app-education class=""></app-education>
  </div>

  <div class="container caru_active">
    <app-proyects class=""></app-proyects>
  </div>

  <div class="container caru_active">
    <app-certificados class="w-100"></app-certificados>
  </div>

  <div class="container caru_active">
    <app-experience class="w-100"></app-experience>
  </div>

  <div class="container caru_active">
    <app-skills class="w-100"></app-skills>
  </div>

  <ul class="bg-bubbles display_none">
    <li>Typscript</li>
    <li>Java</li>
    <li>Data
      Science</li>
    <li>matplotlib</li>
    <li>seaborn</li>
    <li>sklearn</li>
    <li>Python</li>
    <li>Mysql</li>
    <li>Machine
      learning</li>
    <!-- <li>Angular</li> -->
    <li>Data-Science</li>
  </ul>

</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    setInterval(function () {
      document.getElementsByClassName('carousel-control-prev')[0].click();
    }, 1000); console.log("desde script")
  });
</script>
