@import '~@fortawesome/fontawesome-free/css/all.css';

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
}

.opened {
  position: relative;
  top: 20px;
  left: 1rem;
  width: inherit;
  max-height: initial;
  height: 80vh;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;

}

.title {
  font-family: system-ui;
  text-align: center;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 1.3rem;
  color: #323232;
  margin-top: 1.5rem;
  width: auto;
}

.card__started {
  z-index: 11;
  border-radius: 4px;
  position: relative;
  float: none;
  height: auto;
}

.profile {
  position: relative;
  left: 0%;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(90vh - 102px);
  margin: 0 12px;
}

.subtitle {
  text-align: center;
  height: 20px;
  font-weight: 400;
  color: #78cc6d;
  position: absolute;
  animation: cycle 9s infinite;
  font-size: 1.2rem;
}
.social {
  display: flex;
  align-items: center;
  margin: 16px 0 0 0;
}

.text {
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  color: #323232;
  box-sizing: border-box;
  transition: .3s;
}

.discover {
  font-weight: 500;
  border: none;
  position: relative;
  height: 70px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  float: none;
  width: 100%;
  font-size: 14px;
  color: #323232;
}

a {
  color: rgb(128,128,128);

  margin: 0 6px;
}

a:hover {
  color: #78cc6d;
  transition: color .2s ease-in-out;
}

.fixed {
  position: fixed;
  position: relative;
  top: 40px;
  left: inherit;
  z-index: 9999;
  max-width: 600px;
  max-height: initial;
}

img {
  width: 70%;
  margin-top: 5px;
  border-radius: 10px 10px 0 0;
}

.linkedin-logo circle {
  fill: rgb(128, 128, 128) !important;
}

.linkedin-logo circle:hover {
  fill: #78cc6d !important;
  transition: fill .2s ease-in-out;

}


.caru {
  display: block;

}

.caru_active {
  display: none;

}

.wrapper {
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .caru {
    display: none;
  }
  .opened {
    left: 0rem;
    margin: 1rem;
    width: inherit;
  }
  img{
    width: 80%;
  }
  .title{
    font-size: 1.5rem;
  }
  .display_none{
    display: none
  }
  .profile{
    width: inherit;
  }
  .wrapper {
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

@media (max-width: 1100px) {
  .caru_active {
    display: flex;
    position: relative;
    justify-content: center;
    top: initial;
    width: 100%;
    height: auto;
    padding: 2rem;
    border: 1px solid rgb(211, 206, 206);
    border-radius: 10px;
    margin-bottom: 1rem;

    .carousel {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow-y: auto;
    }
    .head_title {
      position:relative;
      background-color: rgb(240, 248, 255) !important;
      width: initial;
      align-items: center;
      z-index: 150;
    }
  }

  .main_title {
    border: none;
  }

  .about {
    height: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .caru_active {
width: 424px;

  }}


.btn_cv{
  border: 1px solid gray;
  padding: 5px;
  color: rgb(128, 128, 128);
}

.btn_cv:hover {
  color: #78cc6d;
  border: 1px solid #78cc6d;
  transition: color border .2s ease-in-out;
}

/* bg bubbles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
}

.bg-bubbles li {
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  animation: square 15s infinite;
  transition-timing-function: linear;
  color: rgba(250, 235, 215,.4);
  font-size: 1.2rem;
  font-weight: 700;
  animation-fill-mode: both;

}

.bg-bubbles li:nth-child(1) {
  left: 10%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-duration: 19s;
  animation-delay: 1s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 4s;
  animation-delay: 2s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 120px;
  height: 120px;
  animation-duration: 12s;
  background-color: rgba(255, 255, 255, 0.25);
  animation-delay: 3s;
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
  width: 75px;
  height: 75px;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 90px;
  height: 90px;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
  animation-delay: 5s;
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 120px;
  height: 120px;
  animation-delay: 6s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 85px;
  height: 85px;
  animation-duration: 20s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 110px;
  height: 110px;
  animation-delay: 8s;
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  animation-delay: 9s;
}

li{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border-radius: 3px;

}

@keyframes square {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1500px) rotate(750deg);
  }
}


.subtitle-container {
  position: relative;
  width: 100%;
  height: 2rem; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.subtitle {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s, transform 1s;
  /* transform: translateX(50%); */
  transform: scale(0);
}

.subtitle.active {
  opacity: 1;
  /* transform: translateX(0); */
  transform: scale(1);
}


