<div class="dropdown">
  <button
  style="margin-left: .5rem; color:white"
  class="btn btn-outline-secondary  btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"aria-expanded="false">
    Pdf
  </button>
    <ul class="dropdown-menu dropdown-menu-dark" style="border: 1px solid white;text-align: center;background-color: rgba(30, 28, 28, 0.8);">
    <li><a class="dropdown-item" (click)="downloadPdf(pdf_do=true)" href="#" style="font-weight: 300">Abrir en navegador</a></li>
    <li><a class="dropdown-item" (click)="downloadPdf(pdf_do=false)" href="#" style="font-weight: 300">Decargar pdf</a></li>
  </ul>
</div>

