body {
  background: linear-gradient(to right, #57c57e, #3d6980);
  overflow-x:hidden;
  width: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: #3d6980;
}

p{
  font-size: .9rem !important;
}
